@media (min-width: 992px) {
	.mobile {
		display: none;
	}

	.hamburger {
		display: none;
	}

	.section__title {
		margin: 0 auto;
		font-size: 2.8rem;
		width: fit-content;

		&::before {
			left: 0;
			width: 100%;
		}
	}

	.header {
		&__logo {
			i {
				font-size: 3.8rem;
			}

			&--title {
				font-size: 2.8rem;
			}
		}

		.hamburger {
			margin-top: 0.5em;
			z-index: 100;
		}
	}

	.desktop {
		position: relative;
		display: flex;
		align-items: center;

		&__items {
			margin-right: 1em;
		}
		&__item {
			position: relative;
			font-family: 'Roboto', sans-serif;
			font-size: 1.6rem;
			font-weight: bold;
			color: $secondary-color;
			margin-left: 1em;
			text-decoration: none;
			transition: color 0.3s;
			cursor: pointer;
		}

		&__item:hover {
			color: $primary-color;
		}

		&__item::before {
			position: absolute;
			content: '';
			height: 3px;
			width: 100%;
			bottom: -0.4em;
			background-color: $primary-color;
			transition: transform 0.3s;
			transform: scaleX(0);
			transform-origin: right;
		}

		&__item:hover::before {
			transform: scaleX(1);
			transform-origin: left;
		}
	}

	.header__hero {
		background-image: url('../img/hero_big.jpg');
		height: 50vh;
	}

	.fa-chevron-down {
		display: none;
	}

	.aboutus {
		padding: 2em;
		margin: 0;

		&__boxes {
			display: flex;
			padding: 1em;
		}

		&__img {
			min-width: 45%;
		}

		&__text {
			position: relative;
			margin: 0;
			padding: 0 2em;

			&--btn {
				display: block;
				position: absolute;
				bottom: 0;
				right: 0;
				padding: 1em;
				margin-right: 2em;
				width: 200px;
				color: $primary-color;
				background-color: transparent;
				border: 1px solid $primary-color;
				font-weight: bold;
				transition: color 0.5s, background-color 0.5s;

				&:hover {
					color: $white;
					background-color: $primary-color;
				}
			}
		}

		&__title {
			padding: 0;
			font-size: 3.3rem;
		}

		&__lorem {
			font-size: 1.8rem;
		}
	}
}
