@media (min-width: 768px) {
	.mobile__item {
		margin: 1em;
		font-size: 3rem;
	}

	.section__title {
		font-size: 2.4rem;
	}

	.header {
		&__title {
			font-size: 6rem;
			padding: 0 2em;
		}

		&__description {
			font-size: 2rem;
			padding: 1em 2em;
		}
		&__buttons {
			&--quote {
				width: 260px;
			}

			&--discover {
				width: 260px;
			}
		}
	}

	.swiper {
		max-width: 720px;
	}
}
