@media (min-width: 768px) {
	.mobile__item {
		margin: 1em;
		font-size: 3rem;
	}

	.section__title {
		font-size: 1.8rem;
	}

	.header {
		&__title {
			font-size: 6rem;
			padding: 0 2em;
		}

		&__description {
			font-size: 2rem;
			padding: 1em 2em;
		}
		&__buttons {
			&--quote {
				width: 260px;
			}

			&--discover {
				width: 260px;
			}
		}
	}

	.swiper {
		max-width: 720px;
	}
	.swiperTeam {
		max-width: 720px;
	}

	.gallery {
		&__box {
			img {
				width: 300px;
				margin: 0.5em;
			}
		}
	}

	.contact__sides {
		flex-direction: row;
		padding: 1em;
		&--left {
			max-width: 50%;
		}

		&--right {
			width: 50%;
			height: 100%;

			.right__img {
				width: 340px;
			}
		}
	}
}
