@media (min-width: 576px) {
	.mobile__item {
		top: 1em;
		margin: 0.3em;
	}

	.section__title {
		font-size: 1.6rem;
	}

	.header {
		&__title {
			padding: 0 1.1em;
		}

		&__description {
			padding: 1em 3em;
		}
		&__buttons {
			flex-direction: row;

			&--quote {
				width: 220px;
			}

			&--discover {
				width: 220px;
			}
		}
	}

	.swiper {
		max-width: 480px;
	}

	.swiperTeam {
		max-width: 480px;
	}

	.pricing__boxes {
		flex-direction: row;
	}

	.gallery {
		&__box {
			img {
				width: 240px;
				margin: 0.5em;
			}
		}
	}

	.contact__sides {
		&--right {
			.right__img {
				width: 100%;
			}
		}
	}
	
}
