@import './animation';
@import './colors';
*,
*::after,
*::before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 1.6rem;
	height: 200vh;
}

a {
	text-decoration: none;
}
html {
	scroll-padding-top: 78px;
}
button {
	cursor: pointer;
	border: none;
}

.wrapper {
	margin: 0 auto;
	max-width: 1200px;
}

.swiper {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 280px;
}
.swiperTeam {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 300px;
}

.header {
	position: relative;
	overflow: hidden;

	&__menu {
		position: fixed;
		display: flex;
		justify-content: space-between;
		flex-wrap: nowrap;
		background-color: rgba(255, 255, 255, 1);
		height: 80px;
		width: 100%;
		z-index: 100;
	}

	&__logo {
		display: flex;
		align-items: center;
		z-index: 100;

		i {
			color: $primary-color;
			font-size: 2.8rem;
			margin: 0.3em;
		}

		&--title {
			color: $secondary-color;
			font-size: 2.2rem;
		}
	}

	.hamburger {
		margin-top: 0.5em;
		z-index: 100;
	}
}

.nav-items-animation {
	animation: navItemsAnimation 1s both;
}
.mobile {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100%;
	transform: translateX(105%);
	background-color: $white;
	z-index: 10;
	transition: 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);

	&-active {
		transform: translateX(0);
	}

	&__items {
		display: flex;
		flex-direction: column;
	}

	&__item {
		position: relative;
		display: block;
		margin: 1em;
		color: $secondary-color;
		font-size: 2rem;
		text-decoration: none;
		transition: color 0.3s;
		cursor: pointer;
	}

	&__item::before {
		position: absolute;
		content: '';
		height: 3px;
		width: 100%;
		bottom: -0.1em;
		background-color: $primary-color;
		transition: transform 0.3s;
		transform: scaleX(0);
		transform-origin: right;
	}

	&__item:hover::before {
		transform: scaleX(1);
		transform-origin: left;
	}
}

.desktop {
	display: none;
}

.header__hero {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-image: url('../img/hero_small.jpg');
	background-size: cover;
	background-position: center;
	height: 100vh;
	width: 100vw;
	animation: scaleHero 15s ease infinite;

	&--shadow {
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.5);
		z-index: 0;
	}
}
.header {
	&__title {
		color: $white;
		padding: 0 1.2em;
		text-align: center;
		z-index: 1;
	}

	&__description {
		color: $white;
		padding: 2em 2em;
		text-align: center;
		font-weight: bold;
		z-index: 1;
	}

	&__buttons {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;

		&--quote {
			padding: 1.2em;
			margin: 1em;
			width: 260px;
			color: $white;
			background-color: $primary-color;
			font-weight: bold;
			border: none;
			border-radius: 25px;
			z-index: 1;
			transition: background-color 0.3s;

			&:hover {
				background-color: $secondary-color;
			}
		}

		&--discover {
			padding: 1em;
			width: 260px;
			color: $white;
			background-color: transparent;
			font-weight: bold;
			border: 2px solid $white;
			border-radius: 25px;
			z-index: 1;
			transition: color 0.3s, border 0.3s;

			&:hover {
				color: $primary-color;
				border: 2px solid $primary-color;
			}
		}
	}
}

.section__title {
	position: relative;
	font-size: 1.6rem;
	padding: 1em;
	margin-bottom: 1em;
	color: $primary-color;
	text-transform: uppercase;
	width: fit-content;

	&::before {
		position: absolute;
		content: '';
		margin: 1.3em auto;
		left: -30px;
		width: calc(100% + 15px);
		height: 3px;
		background-color: $secondary-color;
	}
}
.section__title-dark {
	color: $white;

	&::before {
		background-color: $primary-color;
	}
}

.fa-chevron-down {
	position: absolute;
	left: calc(50% - 15px);
	bottom: 5px;
	font-size: 30px;
	color: $white;
}

.aboutus {
	position: relative;
	display: flex;
	justify-content: center;
	flex-direction: column;
	height: 100%;
	background-color: $white;
	margin: 1em;

	&__img {
		position: relative;
		display: flex;
		margin: 0 auto;
		width: 100%;
		height: 280px;
		background-image: url('../img/aboutus_small.jpg');
		background-size: cover;
		background-position: center;
		border-radius: 10px;
	}

	&__box {
		position: absolute;
		display: flex;
		align-items: center;
		bottom: -30px;
		left: 10px;
		height: 60px;
		width: 250px;
		background-color: $primary-color;
		border-radius: 15px;

		i {
			color: $white;
			font-size: 3rem;
			padding: 0.5em;
		}

		&--text {
			display: flex;
			justify-content: center;
			align-items: center;
			color: $white;
			font-weight: bold;

			span {
				font-size: 2.2rem;
				margin-right: 0.2em;
				color: $secondary-color;
			}
		}
	}

	&__title {
		position: relative;
		padding-top: 1.7em;
		font-size: 3rem;
		color: $secondary-color;
	}

	&__lorem {
		padding-top: 0.8em;
		color: $light-gray;
	}

	&__text {
		&--btn {
			display: none;
		}
	}
}

.howitworks {
	position: relative;
	background-color: $secondary-color;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

.how__boxes {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: 0 auto;
}

.how__box {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	max-width: 280px;
	background-color: $white;
	border-radius: 7px;
	padding: 1.5em 0;
	margin-bottom: 2em;

	&--icon {
		padding: 1em;
		color: $primary-color;

		i {
			font-size: 5rem;
		}
	}

	&--title {
		font-size: 2.4rem;
		color: $secondary-color;
	}

	&--description {
		color: $light-gray;
		text-align: center;
		line-height: 1.5em;
		padding: 1em 3em;
	}

	&--btn {
		width: 140px;
		padding: 10px 20px;
		position: relative;
		font-size: 1.4rem;
		font-weight: bold;
		color: $white;
		background-color: $primary-color;
		border-radius: 10px;
		border: none;
		box-shadow: 1px 1px 3px $primary-color;
		outline: none;
		cursor: pointer;
		overflow: hidden;
		transition: 0.4s;

		&:hover {
			width: 160px;
			background-color: $secondary-color;
			padding-right: 40px;
			box-shadow: 1px 1px 3px $secondary-color;
		}

		.fas {
			position: absolute;
			top: 35%;
			margin-left: 20px;
			transform: translateX(-50%);
			transition: transform 0.4s;
			opacity: 0;
		}

		&:hover .fas {
			transform: translateX(0);
			opacity: 1;
		}
	}
}

.how__bg-icon {
	position: absolute;
	top: 0;
	width: 350px;
	height: 350px;
	display: block;
	opacity: 0.05;

	&--one {
		top: 18%;
		animation: rotate-right 160s infinite linear;
	}

	&--two {
		bottom: 10%;
		right: 20%;
		animation: rotate-left 140s infinite linear;
	}

	&--three {
		top: 26%;
		left: 26%;
		animation: rotate-left 160s infinite linear;
	}

	&--four {
		top: 55%;
		right: 5%;
		animation: rotate-right 140s infinite linear;
	}
}

.pricing {
	&__title {
		color: $secondary-color;
		font-size: 2.6rem;
		text-align: center;

		&--desc {
			font-size: 1.4rem;
			padding: 0.5em;
			color: $light-gray;
			text-align: center;
		}
	}
}

.pricing__boxes {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	flex-wrap: wrap;
	margin-top: 1em;
}

.pricing-box {
	position: relative;
	width: 300px;
	height: 450px;
	margin: 1em;
	padding: 1em;
	color: $secondary-color;
	border: 0.05em solid $light-gray;
	border-radius: 10px;

	&__title {
		i {
			color: $primary-color;
			margin-right: 0.5em;
		}
	}

	&__desc {
		font-size: 1.4rem;
		color: $light-gray;
		margin: 0.4em 0;
	}

	&__price {
		margin: 1.3em 0;
		span {
			font-size: 5rem;
			margin: 0.6em 0;
		}
	}

	&__btn {
		width: 100%;
		padding: 10px 20px;
		position: relative;
		font-size: 1.4rem;
		font-weight: bold;
		color: $white;
		background-color: $primary-color;
		border-radius: 5px;
		border: none;
		box-shadow: 1px 1px 3px $primary-color;
		outline: none;
		cursor: pointer;
		overflow: hidden;
		transition: 0.4s;

		&:hover {
			background-color: $secondary-color;
			box-shadow: 1px 1px 3px $secondary-color;
		}
	}

	&__list {
		&--title {
			font-size: 1.6rem;
			padding: 0.5em 0;
			margin-top: 1.2em;
		}

		ul {
			li {
				list-style: none;
				margin: 0.7em 0;
				font-size: 1.3rem;
				color: $light-gray;

				i {
					color: $primary-color;
					margin: 0 1em;
				}
			}
		}
	}

	&__select {
		position: absolute;
		bottom: 10px;
		left: 50%;
		transform: translateX(-50%);
		padding: 1em;
		width: 220px;
		color: $primary-color;
		background-color: transparent;
		font-weight: bold;
		border: 2px solid $primary-color;
		border-radius: 5px;
		z-index: 1;
		transition: color 0.3s, border 0.3s, background-color 0.3s;

		&:hover {
			background-color: $primary-color;
			color: $white;
			border: 2px solid $primary-color;
		}
	}
}
.active {
	background-color: $secondary-color;

	.pricing-box__title {
		color: $white;

		i {
			color: $white;
		}
	}

	.pricing-box__price {
		color: $white;
	}

	.pricing-box__list--title {
		color: $white;
	}

	.pricing-box__btn:hover {
		background-color: $white;
		color: $secondary-color;
	}

	.pricing-box__select {
		border: 2px solid $white;
		color: $white;

		&:hover {
			background-color: $white;
			color: $secondary-color;
		}
	}
}

.gallery {
	position: relative;
	width: 100%;
	height: 100%;
	background-image: url('../img/gallery_small.jpg');
	background-size: cover;
	background-position: center;
	margin-top: 2em;
	overflow: hidden;

	&__shadow {
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: $secondary-color;
		opacity: 0.9;
		z-index: 0;
	}

	&__box {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;

		img {
			width: 300px;
			height: auto;
			margin: 1.8em 0 0 0;
		}
	}
}
.team {
	position: relative;
	background-color: $white;
	height: 100%;
	width: 100%;
	overflow: hidden;
}
.team__boxes {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: 0 auto;
}

.team__box {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	max-width: 280px;
	background-color: $white;
	border-radius: 7px;
	padding: 1.5em 0;
	margin: 2em 0;
	border: 0.05em solid $light-gray;
	&--ellipse {
		position: absolute;
		top: 0;
		background-color: $secondary-color;
		width: 100%;
		height: 125px;
		border-radius: 90% / 0 0 100% 100%;
		z-index: 0;
		opacity: 0.4;
	}
	&--photo {
		width: 120px;
		height: 120px;
		object-fit: cover;
		border-radius: 50%;
		margin: 1em;
		border: 3px solid $secondary-color;
		z-index: 5;
	}

	&--name {
		color: $secondary-color;
	}

	&--desc {
		text-align: center;
		margin: 1em;
		font-size: 1.4rem;
		font-style: italic;
		color: $light-gray;
	}

	&--title {
		color: $primary-color;
		font-size: 1.4rem;
		font-weight: bold;
		margin: 1em;
	}

	&--links {
		width: 100px;
		display: flex;
		justify-content: space-evenly;
		margin: 1em;

		i {
			font-size: 2rem;
			cursor: pointer;
			transition: color 0.3s;

			&:hover {
				color: $secondary-color;
			}
		}
	}
}

.review {
	position: relative;
	background-color: $secondary-color;
	height: 100%;
	width: 100%;
	overflow: hidden;
}
.review__boxes {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: 0 auto;
}

.review__box {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	max-width: 280px;
	background-color: $white;
	border-radius: 7px;
	padding: 1.5em 0;
	margin: 2em 0;
	border: 0.05em solid $light-gray;

	&--comment {
		font-size: 3em;
		color: $primary-color;
	}

	&--desc {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		margin: 1em;
		font-size: 1.4rem;
		font-style: italic;
		color: $light-gray;

		&::before {
			position: absolute;
			content: '';
			width: 50px;
			height: 3px;
			background-color: #333;
			bottom: -15px;
			margin: 0 auto;
		}
	}

	&--photo {
		width: 80px;
		height: 80px;
		object-fit: cover;
		border-radius: 50%;
		margin: 1em;
		border: 3px solid $primary-color;
		z-index: 5;
	}

	&--name {
		font-weight: bold;
	}
}

.contact__sides {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: 1em 0;
	width: 100%;
	height: 100%;
	overflow: hidden;

	&--left {
		display: flex;
		flex-direction: column;
		max-width: 100%;
		height: 100%;
		padding: 1em;

		.left__title {
			font-family: 'Open Sans', sans-serif;
			font-size: 3.6rem;
			color: $secondary-color;
		}

		.left__desc {
			margin: 1em 0;
			color: $light-gray;
			font-style: italic;
		}
	}
	.contact__form {
		position: relative;
		display: flex;
		flex-direction: column;
		overflow: hidden;
		margin-bottom: 1em;

		&--box {
			display: flex;
			flex-direction: column;

			label {
				color: $dark-gray;
				margin: 1em 0 0.3em 0;
				font-size: 1.4rem;
			}

			input {
				&:focus {
					outline: none;
				}
			}

			textarea {
				max-width: 100%;
				width: 100%;
				min-width: 100%;
				height: 100px;
				padding: 0.5em;
				&:focus {
					outline: none;
				}
			}
		}

		&--btn {
			width: 100%;
			padding: 10px 20px;
			position: relative;
			font-size: 1.4rem;
			font-weight: bold;
			color: $white;
			background-color: $primary-color;
			border-radius: 5px;
			border: none;
			box-shadow: 1px 1px 3px $primary-color;
			outline: none;
			cursor: pointer;
			overflow: hidden;
			transition: 0.4s;
			margin: 1em 0;

			&:hover {
				background-color: $secondary-color;
				box-shadow: 1px 1px 3px $secondary-color;
			}
		}
	}
	&--right {
		width: 100%;
		height: 100%;
		text-align: center;

		.right_img {
			display: flex;
			justify-content: center;
			align-items: center;
		}

		.right__info {
			font-size: 1.2rem;
			color: $dark-gray;
			margin: 0.5em 0;

			i {
				margin-right: 0.5em;
			}
		}

		.right__socials {
			display: flex;
			justify-content: space-evenly;
			margin: 2em 0;

			img {
				cursor: pointer;
			}
		}
	}
}
@import './small';
@import './medium';
@import './large';
